body {
    font: Lato, sans-serif;
    color: #777;
}
.title{
  padding-top: 2em;
}

.container {
    padding: 4vw 5vw/*Use viewport widths to add proportional container padding*/
}
.bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
}
.nav-tabs li a {
    color: #777;
}

.navbar {
    font-family: Lato, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
}
.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
    color: #fff !important;
}
.navbar-nav li.active a {
    color: #fff !important;
    background-color: grey !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}

.person {
  padding-top: 4em;
  margin: auto;
    margin-bottom: 25px;
    display: block;
    width: 80%;
    height: 80%;
}
footer {
    padding: 32px;
    font: 400 13px/1.8 Lato, sans-serif;
}
